<a href="https://colab.research.google.com/github/claredavies/AutomaticLearning/blob/main/MachineLearningDataPreparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import Libraries

In [1]:
from scipy.io import arff
import pandas as pd

Function to read in arff

# Functions

In [2]:
def read_arff_as_df_scipy( filename ):
 # input : name of the file where the dataset is stored
 # output : a dataframe
 dataset = arff.loadarff(filename)
 df = pd.DataFrame( dataset[0] , columns = dataset[1])
 return df

In [3]:
def return_columns_missing_values(df):
  return df.columns[df.isnull().any()]

In [15]:
def missing_value_column_percentage(dataframe, column_name):
  percent_missing = dataframe.loc[:, column_name].isnull().sum() * 100 / len(dataframe)
  return percent_missing

In [28]:
def convert_object_datatypes_to_categorical(dataframe):
  for column_name in dataframe:
    if(dataframe[column_name].dtype == object):
      dataframe[column_name] = dataframe[column_name].astype('category')
  return dataframe

In [35]:
def convert_categorical_to_integer(dataframe):
  cat_columns = dataframe.select_dtypes(['category']).columns
  dataframe[cat_columns] = dataframe[cat_columns].apply(lambda x: x.cat.codes)
  return dataframe

# Read in Data

In [37]:
df = read_arff_as_df_scipy('dataset_55_hepatitis.arff')

# Data Exploration

In [6]:
print(df.info)

<bound method DataFrame.info of       AGE        SEX STEROID ANTIVIRALS FATIGUE MALAISE ANOREXIA LIVER_BIG  \
0    30.0    b'male'   b'no'      b'no'   b'no'   b'no'    b'no'     b'no'
1    50.0  b'female'   b'no'      b'no'  b'yes'   b'no'    b'no'     b'no'
2    78.0  b'female'  b'yes'      b'no'  b'yes'   b'no'    b'no'    b'yes'
3    31.0  b'female'    b'?'     b'yes'   b'no'   b'no'    b'no'    b'yes'
4    34.0  b'female'  b'yes'      b'no'   b'no'   b'no'    b'no'    b'yes'
..    ...        ...     ...        ...     ...     ...      ...       ...
150  46.0  b'female'  b'yes'      b'no'  b'yes'  b'yes'   b'yes'    b'yes'
151  44.0  b'female'  b'yes'      b'no'  b'yes'   b'no'    b'no'    b'yes'
152  61.0  b'female'   b'no'      b'no'  b'yes'  b'yes'    b'no'     b'no'
153  53.0    b'male'   b'no'      b'no'  b'yes'   b'no'    b'no'    b'yes'
154  43.0  b'female'  b'yes'      b'no'  b'yes'   b'no'    b'no'    b'yes'

    LIVER_FIRM SPLEEN_PALPABLE SPIDERS ASCITES VARICES  BILIRUBIN  \
0        b'no'           b'no'   b'no'   b'no'   b'no'        1.0
1        b'no'           b'no'   b'no'   b'no'   b'no'        0.9
2        b'no'           b'no'   b'no'   b'no'   b'no'        0.7
3        b'no'           b'no'   b'no'   b'no'   b'no'        0.7
4        b'no'           b'no'   b'no'   b'no'   b'no'        1.0
..         ...             ...     ...     ...     ...        ...
150      b'no'           b'no'  b'yes'  b'yes'  b'yes'        7.6
151     b'yes'           b'no'   b'no'   b'no'   b'no'        0.9
152     b'yes'           b'no'  b'yes'   b'no'   b'no'        0.8
153      b'no'          b'yes'  b'yes'   b'no'  b'yes'        1.5
154      b'no'          b'yes'  b'yes'  b'yes'   b'no'        1.2

     ALK_PHOSPHATE   SGOT  ALBUMIN  PROTIME HISTOLOGY    Class
0             85.0   18.0      4.0      NaN     b'no'  b'LIVE'
1            135.0   42.0      3.5      NaN     b'no'  b'LIVE'
2             96.0   32.0      4.0      NaN     b'no'  b'LIVE'
3             46.0   52.0      4.0     80.0     b'no'  b'LIVE'
4              NaN  200.0      4.0      NaN     b'no'  b'LIVE'
..             ...    ...      ...      ...       ...      ...
150            NaN  242.0      3.3     50.0    b'yes'   b'DIE'
151          126.0  142.0      4.3      NaN    b'yes'  b'LIVE'
152           75.0   20.0      4.1      NaN    b'yes'  b'LIVE'
153           81.0   19.0      4.1     48.0    b'yes'  b'LIVE'
154          100.0   19.0      3.1     42.0    b'yes'   b'DIE'

[155 rows x 20 columns]>

In [7]:
print(df.head)

<bound method NDFrame.head of       AGE        SEX STEROID ANTIVIRALS FATIGUE MALAISE ANOREXIA LIVER_BIG  \
0    30.0    b'male'   b'no'      b'no'   b'no'   b'no'    b'no'     b'no'
1    50.0  b'female'   b'no'      b'no'  b'yes'   b'no'    b'no'     b'no'
2    78.0  b'female'  b'yes'      b'no'  b'yes'   b'no'    b'no'    b'yes'
3    31.0  b'female'    b'?'     b'yes'   b'no'   b'no'    b'no'    b'yes'
4    34.0  b'female'  b'yes'      b'no'   b'no'   b'no'    b'no'    b'yes'
..    ...        ...     ...        ...     ...     ...      ...       ...
150  46.0  b'female'  b'yes'      b'no'  b'yes'  b'yes'   b'yes'    b'yes'
151  44.0  b'female'  b'yes'      b'no'  b'yes'   b'no'    b'no'    b'yes'
152  61.0  b'female'   b'no'      b'no'  b'yes'  b'yes'    b'no'     b'no'
153  53.0    b'male'   b'no'      b'no'  b'yes'   b'no'    b'no'    b'yes'
154  43.0  b'female'  b'yes'      b'no'  b'yes'   b'no'    b'no'    b'yes'

    LIVER_FIRM SPLEEN_PALPABLE SPIDERS ASCITES VARICES  BILIRUBIN  \
0        b'no'           b'no'   b'no'   b'no'   b'no'        1.0
1        b'no'           b'no'   b'no'   b'no'   b'no'        0.9
2        b'no'           b'no'   b'no'   b'no'   b'no'        0.7
3        b'no'           b'no'   b'no'   b'no'   b'no'        0.7
4        b'no'           b'no'   b'no'   b'no'   b'no'        1.0
..         ...             ...     ...     ...     ...        ...
150      b'no'           b'no'  b'yes'  b'yes'  b'yes'        7.6
151     b'yes'           b'no'   b'no'   b'no'   b'no'        0.9
152     b'yes'           b'no'  b'yes'   b'no'   b'no'        0.8
153      b'no'          b'yes'  b'yes'   b'no'  b'yes'        1.5
154      b'no'          b'yes'  b'yes'  b'yes'   b'no'        1.2

     ALK_PHOSPHATE   SGOT  ALBUMIN  PROTIME HISTOLOGY    Class
0             85.0   18.0      4.0      NaN     b'no'  b'LIVE'
1            135.0   42.0      3.5      NaN     b'no'  b'LIVE'
2             96.0   32.0      4.0      NaN     b'no'  b'LIVE'
3             46.0   52.0      4.0     80.0     b'no'  b'LIVE'
4              NaN  200.0      4.0      NaN     b'no'  b'LIVE'
..             ...    ...      ...      ...       ...      ...
150            NaN  242.0      3.3     50.0    b'yes'   b'DIE'
151          126.0  142.0      4.3      NaN    b'yes'  b'LIVE'
152           75.0   20.0      4.1      NaN    b'yes'  b'LIVE'
153           81.0   19.0      4.1     48.0    b'yes'  b'LIVE'
154          100.0   19.0      3.1     42.0    b'yes'   b'DIE'

[155 rows x 20 columns]>

Get number of samples and features and store

In [8]:
no_samples = len(df.index)
no_features = len(df.columns)
print(no_samples)
print(no_features)

155
20

Check which columns have missing values

In [13]:
columns_missing_values = return_columns_missing_values(df)
print(columns_missing_values)

Index(['BILIRUBIN', 'ALK_PHOSPHATE', 'SGOT', 'ALBUMIN', 'PROTIME'], dtype='object')

# Data Cleaning

cleaning up df

Drop features with more than 40% of missing values

In [38]:
for column_name in columns_missing_values:
  column_missing_values_percentage = missing_value_column_percentage(df, column_name)
  if(column_missing_values_percentage > 40):
    df = df.drop(column_name, axis=1)

In [39]:
# drop missing values
df1 = df.dropna()
# fill missing values with median
df2 = df.fillna(df.median())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  after removing the cwd from sys.path.

 Transform categorical features into integer-valued features, using progressive integer labels. You have to do it
for both df1 and df2.

In [40]:
df1 = convert_object_datatypes_to_categorical(df1)
df2 = convert_object_datatypes_to_categorical(df2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [41]:
df1.dtypes

AGE                 float64
SEX                category
STEROID            category
ANTIVIRALS         category
FATIGUE            category
MALAISE            category
ANOREXIA           category
LIVER_BIG          category
LIVER_FIRM         category
SPLEEN_PALPABLE    category
SPIDERS            category
ASCITES            category
VARICES            category
BILIRUBIN           float64
ALK_PHOSPHATE       float64
SGOT                float64
ALBUMIN             float64
HISTOLOGY          category
Class              category
dtype: object

In [42]:
df1 = convert_categorical_to_integer(df1)
df2 = convert_categorical_to_integer(df2)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [43]:
print(df1.head)

<bound method NDFrame.head of       AGE  SEX  STEROID  ANTIVIRALS  FATIGUE  MALAISE  ANOREXIA  LIVER_BIG  \
0    30.0    1        1           0        0        0         0          1
1    50.0    0        1           0        1        0         0          1
2    78.0    0        2           0        1        0         0          2
3    31.0    0        0           1        0        0         0          2
5    34.0    0        2           0        0        0         0          2
..    ...  ...      ...         ...      ...      ...       ...        ...
149  36.0    0        2           0        0        0         0          2
151  44.0    0        2           0        1        0         0          2
152  61.0    0        1           0        1        1         0          1
153  53.0    1        1           0        1        0         0          2
154  43.0    0        2           0        1        0         0          2

     LIVER_FIRM  SPLEEN_PALPABLE  SPIDERS  ASCITES  VARICES  BILIRUBIN  \
0             1                1        1        1        1        1.0
1             1                1        1        1        1        0.9
2             1                1        1        1        1        0.7
3             1                1        1        1        1        0.7
5             1                1        1        1        1        0.9
..          ...              ...      ...      ...      ...        ...
149           1                1        1        1        1        0.6
151           2                1        1        1        1        0.9
152           2                1        2        1        1        0.8
153           1                2        2        1        2        1.5
154           1                2        2        2        1        1.2

     ALK_PHOSPHATE   SGOT  ALBUMIN  HISTOLOGY  Class
0             85.0   18.0      4.0          0      1
1            135.0   42.0      3.5          0      1
2             96.0   32.0      4.0          0      1
3             46.0   52.0      4.0          0      1
5             95.0   28.0      4.0          0      1
..             ...    ...      ...        ...    ...
149          120.0   30.0      4.0          1      1
151          126.0  142.0      4.3          1      1
152           75.0   20.0      4.1          1      1
153           81.0   19.0      4.1          1      1
154          100.0   19.0      3.1          1      0

[120 rows x 19 columns]>