<a href="https://colab.research.google.com/github/claredavies/AutomaticLearning/blob/main/MachineLearningDataPreparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import Libraries

In [13]:
from scipy.io import arff
import pandas as pd

In [16]:
data = arff.loadarff('dataset_55_hepatitis.arff')
df = pd.DataFrame(data[0])
df.head()

,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER_BIG,LIVER_FIRM,SPLEEN_PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK_PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY,Class
0,30.0,b'male',b'no',b'no',b'no',b'no',b'no',b'no',b'no',b'no',b'no',b'no',b'no',1.0,85.0,18.0,4.0,NaN,b'no',b'LIVE'
1,50.0,b'female',b'no',b'no',b'yes',b'no',b'no',b'no',b'no',b'no',b'no',b'no',b'no',0.9,135.0,42.0,3.5,NaN,b'no',b'LIVE'
2,78.0,b'female',b'yes',b'no',b'yes',b'no',b'no',b'yes',b'no',b'no',b'no',b'no',b'no',0.7,96.0,32.0,4.0,NaN,b'no',b'LIVE'
3,31.0,b'female',b'?',b'yes',b'no',b'no',b'no',b'yes',b'no',b'no',b'no',b'no',b'no',0.7,46.0,52.0,4.0,80.0,b'no',b'LIVE'
4,34.0,b'female',b'yes',b'no',b'no',b'no',b'no',b'yes',b'no',b'no',b'no',b'no',b'no',1.0,NaN,200.0,4.0,NaN,b'no',b'LIVE'